
Ridge Regression/.ipynb_checkpoints/Ridge_Intuition-checkpoint.ipynb
Bias-Variance Tradeoff/.ipynb_checkpoints/Bias Variance-checkpoint.ipynb
Heteroscedasticity/.ipynb_checkpoints/OLS Under Heteroscedasticity-checkpoint.ipynb
Graph Theory (Derangement)/.ipynb_checkpoints/Graph Theory Derangements-checkpoint.ipynb
